.form {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center; 

  div {
    display: flex;
    justify-content: space-between;
  }

  input {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border-style: inset;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  .input-content {
    display: grid;
    span {
      background-color: transparent !important;
      text-align: left;
    }
  }

  .error {
    color: $color-base;
    font-size: 12px;
    font-weight: bold;
  }
}