.v-app-bar {
  background-color: #fff !important;
  height: 126px !important;
}
header {
  div {
    a {
      div {
        .v-responsive__sizer{
          padding-bottom: 26% !important;
        }
      }
    }
  }
} 