.menu-static {
  position: fixed;
  z-index: 5;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}
.router-link-active {
  &.router-link-exact-active {
    color: $color-base !important;
  }
}

.menu {
  padding: 0;
  padding-top: 25px !important;
  list-style: none;
  position: relative;
  display: block;
  margin: 0 -16px;
  font-size: 0;
  flex: 1 1 100%;
  top: 0;
  z-index: 0;
  transition: top 0.3s ease, margin 0.3s ease, z-index 0s ease 0.3s;
  padding-left: 24px;
  li {
    &:hover {
      > ul {
        opacity: 1;
        visibility: visible;
        list-style: none;
        pointer-events: auto;
        transition: opacity 0.3s ease 0s, visibility 0s ease 0s,
          z-index 0.3s linear 0s, transform 0.3s ease, box-shadow 0.3s ease 0s;
        transform: translate3d(0, 0, 0);
        box-shadow: 0 5px 20px -10px rgb(0 0 0 / 20%), 0 0 0 0 #ffffff;
      }
    }
  }
  > li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    &:hover {
      > a {
        color: #fff !important;
        &::before {
          opacity: 1;
          top: -5px;
        }
      }
      > ul {
        opacity: 1;
        visibility: visible;
        list-style: none;
        pointer-events: auto;
        transition: opacity 0.3s ease 0s, visibility 0s ease 0s,
          z-index 0.3s linear 0s, transform 0.3s ease, box-shadow 0.3s ease 0s;
        transform: translate3d(0, 0, 0);
        box-shadow: 0 5px 20px -10px rgb(0 0 0 / 20%), 0 0 0 0 #ffffff;
      }
    }
    > a {
      position: relative;
      display: block;
      padding: 10px 16px;
      line-height: 30px;
      font-size: 19px;
      font-weight: 700;
      text-transform: uppercase;
      color: #a0a0a0;
      transition: 0.2s ease;
      z-index: 1;
      &::before {
        content: "";
        position: absolute;
        left: -2px;
        right: -2px;
        top: 15px;
        bottom: 0;
        background-color: #a0a0a0;
        z-index: -1;
        opacity: 0;
        transition: 0.2s ease;
      }
    }
  }

  li {
    position: relative;
  }

  ul {
    position: absolute;
    top: 100%;
    left: -2px;
    font-size: 16px;
    padding: 8px 10px;
    background-color: #ffffff;
    box-shadow: 0 5px 20px -10px rgb(0 0 0 / 20%), 0 -20px 0 0 #ffffff;
    transform: translate3d(0, 20px, 0);
    z-index: -3;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease 0s, visibility 0s ease 0.3s,
      z-index 0.3s linear, transform 0.3s ease, box-shadow 0.3s ease;
    list-style: none;
    a {
      position: relative;
      display: block;
      padding: 8px;
      color: #505050;
      transition: 0.2s ease;
      &:hover {
        color: $color-base !important;
        background-color: #ffffff;
      }
    }
    ul {
      box-shadow: 0 5px 20px -10px rgb(0 0 0 / 20%);
      top: -8px;
      left: 100%;
      margin-left: -10px;
      transform: translate3d(20px, 0, 0);
      z-index: 1;
      min-width: 260px;
    }
    li {
      + li {
        border-top: 1px solid #eceded;
      }
    }
  }
}
@media (max-width: 1300px){
  .menu li a{
    font-size: 16px;
    padding: 10px 5px;
  }
}
