.v-data-table {
  .v-data-table-header {
    tr {
      th {
        color: #005aa6 !important;
      }
    }
  }
  tbody {
    tr {
      td {
        padding: 10px !important;
        &:first-child {
          min-width: 160px;
        }
        &:nth-child(2) {
          min-width: 250px;
        }
      }
    }
  }
}
