.content-input{
  @extend %full-width;
	
  position: relative;
  input{
    @include clearFix();
   
    appearance: none;
    border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    margin: 0;
    padding: 9px 10px;
    width: -webkit-fill-available;

    -webkit-appearance: none;
    -moz-appearance: none;
    
  }
}

.content-select{
  @extend %full-width;
	
  position: relative;
  select{
    @extend %full-width;
    
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    display: inline-block;
    cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
  	outline: 0; 
  	//border: 0;
    //border-radius: 0;
    //color: #7b7b7b;
    font-size: 1em;
    //color: #999;
    border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;

    &:hover{
    	background: #F0F0F0;
    }
  }
  i{
    position: absolute;
    right: 20px;
    top: calc(50% - 13px);
    width: 16px;
    height: 16px;
    display: block;
    border-left:4px solid $color-secondary;
    border-bottom:4px solid $color-secondary;
    transform: rotate(-45deg); /* Giramos el cuadrado */
    transition: all 0.25s ease;
    &:hover {
      margin-top: 3px;
    }
  }
  &::-ms-expand {
    display: none;
  }
}