$base-font-size: 16px;

$color-font-primary: #505050;
$color-font-secondary: #a0a0a0;
$color-font-white: #FFFFFF;

$color_base: #005aa6;
// -------------------------------------
//   Height
// -------------------------------------

$height-small: 20px;
$height-medium: 40px;
$height-large: 60px;

$space-small: 20px;
$space-medium: 40px;
$space-large: 60px;

// -------------------------------------
//   Breakpoints
// -------------------------------------

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 960px;
$bp-large: 1024px;
$bp-xlarge: 1240px;