.v-carousel {
  .v-responsive__content {
    align-self: flex-end;
  }

  .m-carousel--info {
    opacity: 0.8;
    width: 370px;
    padding: 20px 25px;
    margin-bottom: 50px;
  }
}
.v-carousel__controls__item {
  &.v-btn {
    &.v-btn--icon {
      color: $color-base;
    }
  }
}
