img {
  &.banner-img {
    max-height: 400px;
    width: 100%;
  }
}
.v-application {
  a {
    color: #005aa6 !important;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: #929ea5;
    }
    &.link-grey {
      text-decoration: none;
      color: #a0a0a0 !important;
      &:hover {
        color: #005aa6 !important;
      }
    }
  }
}
.headerApp {
  * {
    a {
      color: #828282 !important;
      &:hover,
      &.v-list-item--active {
        text-decoration: none;
        background-color: #b0b0b0;
        color: #ffffff !important;
      }
      &.no-hover {
        background-color: #ffffff;
      }
    }
  }
}
.v-list-group--active {
  .v-list-group__header {
    div {
      color: #005aa6;
    }
  }
}
li {
  &::marker {
    color: #005aa6;
  }
}

.link-grey {
  color: #828282 !important;
}
.v-card__title {
  word-break: break-word !important;
}